/* Estilos para el componente Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2f33; /* Fondo oscuro */
}

.login-form {
  background-color: #23272a; /* Color de fondo del formulario, oscuro pero no negro */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login-form label {
  display: block;
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #40444b;
  color: white;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login-form button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #7289da; /* Botón resaltado en color púrpura */
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #677bc4; /* Cambio de color al pasar el cursor */
}
